<header>
  <div class="logo">
    <a href="#"><img src="../../../../assets/images/logo.svg" alt="logo" /></a>
  </div>
  <nav>
    <ul>
      <li><a href="collections.html" target="_blank">Collections</a></li>
      <li><a href="men.html" target="_blank">Men</a></li>
      <li><a href="women.html" target="_blank">Women</a></li>
      <li><a href="about.html" target="_blank">About</a></li>
      <li><a href="contact.html" target="_blank">Contact</a></li>
    </ul>
  </nav>

  <div class="nav-imgs">
    <img src="../../../../assets/images/icon-cart.svg" alt="cart" class="img-cart" />
    <img src="../../../../assets/images/image-avatar.png" alt="profile image" class="img-avatar" />
  </div>
</header>
