<main>
  <div class="product">
    <div class="product-display">
      <img src="../../../../assets/images/image-product-1.jpg" class="product1" alt="product 1" />

      <ul>
        <li><img src="../../../../assets/images/image-product-1-thumbnail.jpg" alt="thumbnail 1" /></li>
        <li><img src="../../../../assets/images/image-product-2-thumbnail.jpg" alt="thumbnail 2" /></li>
        <li><img src="../../../../assets/images/image-product-3-thumbnail.jpg" alt="thumbnail 3" /></li>
        <li><img src="../../../../assets/images/image-product-4-thumbnail.jpg" alt="thumbnail 4" /></li>
      </ul>
    </div>

    <div class="product-info">
      <h4>Sneaker Company</h4>
      <h1>Fall Limited Edition Sneakers</h1>
      <p>These low-profile sneakers are your perfect casual wear companion. Featuring a durable rubber outer sole,
        they&apos;ll withstand everything the weather can offer.</p>

      <div class="price">
        <div clas="discount">
          <span class="discounted-price"><h3>$125.00</h3></span>
          <span class="discount-percent">50%</span>
        </div>
        <div class="orig-price">
          <span class="original-price">$250.00</span>
        </div>
      </div>

      <div class="product-btn">
        <span>
          <span>
            <a><img src="../../../../assets/images/icon-minus.svg" class="qty-button"></a>
            &nbsp;<span style="margin-top: -15px">0</span>&nbsp;
            <a><img src="../../../../assets/images/icon-plus.svg" class="qty-button"></a>
          </span>
          <button><img src="../../../../assets/images/icon-cart.svg">&nbsp;&nbsp;&nbsp;Add to cart</button>
        </span>
      </div>
    </div>
  </div>
</main>
